replicaCount: 3

image:
  repository: europe-west1-docker.pkg.dev/transaction-api-2446/transaction-api/transaction-api
  tag: "v0.0.1"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  name: transaction-api

#podSecurityContext:    
  #runAsNonRoot: true
  # runAsUser: 1000 missing UID/GUID in DockerImage line 14
  # runAsGroup: 3000
  # fsGroup: 2000
  #seccompProfile:
    #type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false # missing permission in DockerImage line 14
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE  # Allow binding to ports < 1024

resources:
  limits:
    cpu: 500m
    memory: 1000Mi
  requests:
    cpu: 10m
    memory: 128Mi

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3
  successThreshold: 1
  timeoutSeconds: 5
  httpGet:
    path: /health
    port: 8080

livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 15
  failureThreshold: 3
  successThreshold: 1
  timeoutSeconds: 5
  httpGet:
    path: /health
    port: 8080

pdb:
  enabled: true
  minAvailable: 1

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 6
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector:
  kubernetes.io/os: linux
  node.kubernetes.io/instance-type: e2-small

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: app.kubernetes.io/name
          operator: In
          values:
          - transaction-api
      topologyKey: topology.kubernetes.io/zone