apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postgresql.fullname" . }}-credentials

  labels:
    {{- include "postgresql.labels" . | nindent 4 }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  postgres-password: {{ .Values.postgresql.password | toString | b64enc | quote }}
  postgres-username: {{ .Values.postgresql.username | toString | b64enc | quote }}
  postgres-url: {{ printf "postgresql://%s:%s@%s:5432/%s?sslmode=disable" .Values.postgresql.username .Values.postgresql.password .Chart.Name .Values.postgresql.database | b64enc | quote }}